.intro {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.intro__inner {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    height: 100%;

    will-change: transform;
}

.intro__inner img {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;

    object-fit: cover;

    /* 🔥 삐져나옴 방지 */
    display: block;
    overflow: hidden;

    /* GPU 안정화 */
    transform: translateZ(0);
    backface-visibility: hidden;
}
