/* ----------------------------------------------------
   INTRO SECTION
---------------------------------------------------- */

.intro {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.intro__inner {
    width: 100%;
    height: 100%;
}

.intro__inner img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
